<ion-header>
  <ion-navbar >
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="wrapper">
    <ion-slides   *ngIf="banners && banners.length" autoplay="3000" loop="true" speed="500" pager="true" >
      <ion-slide *ngFor="let banner of banners">
        <img [src]="banner.Image"  class="bannerImg" />
      </ion-slide>
    </ion-slides>
  </div>

<ion-footer>
  <ion-title>Home</ion-title>
</ion-footer>

</ion-content>


















<!-- <button ion-button float-left large class="arws" color="whiter" clear icon-only >
            <ion-icon name="ios-arrow-back"></ion-icon>
          </button>
          <button ion-button float-right large class="arws" color="whiter" clear icon-only >
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </button> -->


